@media (max-width: 1750px) {
    .lastVideos {
        &__slider {
            height: 550px;
            &_inner {
                margin-top: 56px;
                padding: 0 90px;
            }
            &_item {
                width: 326px;
                height: 308px;
                margin-top: 50px;
            }
        }
        .active {
            width: 512px;
            height: 438px;
            margin-top: 0;
        }
        &__title {
            padding-top: 140px;
        }
        .chevron_left {
            left: 58px;
        }
        .chevron_right {
            right: 58px;
        }
    }
}

@media (max-width: 1600px) {
    .about {
        height: 1040px;
        &__wrapper {
            height: 980px;
        }
        &__text {
            width: 518px;
            margin: 0 0 0 202px;
            &_title {
                padding-top: 200px;
            }
            &_subtitle {
                padding: 20px 0 32px;
            }
        }
        &__pictures {
            &_first {
                width: 220px;
                top: 116px;
                right: 309px;

            }
            &_second {
                width: 220px;
                top: 278px;
                right: 146px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .works {
        &__title {
            padding-top: 104px;
        }
        &__wrapper {
            padding: 60px 94px 0 94px;
        }
        &__content {
            gap: 20px;
        }
        &__wrapper {
            .more_link {
                padding: 28px 0 42px;
            }
        }
    }
    .youtube {
        &__text {
            left: 94px;
        }
    }
    .form {
        form {
            margin: 205px 0 205px 202px;
        }
        &_pic {
            margin: 205px 146px 0 0;
        }
    }
    footer {
        height: 159px;
        .footer__title {
            padding-top: 40px;
        }
    }
}
@media (max-width: 1399px) {
    .lastVideos {
        .active {
            width: 700px;
            height: 600px;
            margin: 0 auto;
        }
        .chevron_left {
            top: 190px;;
            left: 90px;
        }
        .chevron_right {
            top: 190px;
            right: 90px;
        }
        /* &__dots{
            padding-top: 70px;
        } */
    }
    .about {
        &__title {
            display: block;
            margin: 0 auto;
            padding-top: 30px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 32px;
            line-height: 48px;
            text-transform: uppercase;
            color: #343434;
        }
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__pictures {
            display: none;
            &_solo {
                padding-top: 20px;
                display: block;
                margin: 0 auto;
            }
        }
        &__text {
            padding-top: 20px;
            margin: 0 auto;
            &_title {
                display: none;
            }
        }
    }
}

@media (max-width: 1300px) {
    .form {
        &_pic {
            display: none;
        }
        form {
            margin: 110px 0 110px;
        }
        &__contact {
            margin: 0 auto;
        }
    } 
    .works {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 32px;
            column-gap: 32px;
        }
    } 
}

@media (max-width: 1000px) {
    .works {
        &__content {
            row-gap: 20px;
            column-gap: 20px;
        }
    } 
}

@media (max-width: 950px) {
    .lastVideos {
        height: 580px;
        &__title {
            padding-top: 89px;
        }
        &__slider {
            &_inner {
                padding: 0 48px;
            }
            .title {
                padding-top: 24px;
            }
            .chevron_left {
                top: 85px;
                left: 100px;
            }
            .chevron_right {
                top: 85px;
                right: 100px;
            }
        }
        .active {
            width: 336px;
            height: 335px;
        }
        &__dots {
            padding-top: 15px;
        }
    }
    .hero {
        &__chevron {
            bottom: 15px;
        }
        &__title {
            font-size: 75px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__wrapper {
            top: 58%;
        }
    }
} 

@media (max-width: 767px) {
    nav {
        .menu {
            position: fixed;
            top: 0;
            left: -50%;
            width: 100%;
            height: 100vh;
            padding: 20px 15px;
            background-color: #000000;
            mix-blend-mode: normal;
            opacity: 0.8;
            transition: 0.5s all;
            &__list {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 420px;
                margin: 200px auto;
    
            }
            &_active {
                left: 50%;
            }
            &__link {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 46px;
                line-height: 48px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
        .hamburger {
            display: block;
            position: absolute;
            right: 28px;
            top: 28px;
            width: 56px;
            height: 24px;
            z-index: 10;
            span {
                display: block;
                height: 4px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 8px;
                transition: 0.6s;
            }
        }
    }
    .hero {
        &__title {
            font-size: 45px;
        }
        &__subtitle {
            display: none;
        }
        &__wrapper {
            width: 300px;
            top: 60%;
        }
        &__chevron {
            bottom: 10px;
        }
    }
    .works {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }
        &__title {
            padding-top: 60px;
            font-size: 50px;
            width: 265px;
        }
        &__wrapper {
            padding: 50px 60px 0 60px;
        }
        &__sections {
            width: 400px;
        }
    }  
    .about {
        &__text {
            width: 400px;
        }
    }
    .youtube {
        &__text {
            left: 60px;
            top: 35%;
            &_channel {
                font-size: 40px;
            }
        }

    }
}

@media (max-width: 600px) {
    .lastVideos {
        &__slider {
            .chevron_left {
                left: 20px;
            }
            .chevron_right {
                right: 20px;
            }
        }
    }
}

@media (max-width: 550px) {
    .youtube {
        &__text {
            left: 46px;
            top: 41px;
            a {
                font-size: 14px;
                line-height: 24px;
            }
            &_channel {
                font-weight: 300;
                font-size: 32px;
                line-height: 44px;
            }
            &_videos {
                top: 0;
            }
        }
    }
    .lastVideos {
        &__title {
            padding-top: 60px;
        }
    }
}

@media (max-width: 428px) {
    .hero {
        &__wrapper {
            width: 335px;
        }
        &__title {
            font-size: 40px;
            line-height: 56px;
        }
        &__chevron {
            bottom: 9px;
        }
    }
    .works {
        &__title {
            width: 170px;
            font-size: 32px;
            line-height: 48px;
            padding-top: 40px;
        }
        &__sections {
            width: 336px;
        }
        &__wrapper {
            padding: 28px 46px 0 46px;
        }
    }
    .about {
        &__pictures_solo {
            img {
                width: 336px;
            }
        }
        &__text {
            width: 336px;
        }
    }
    .youtube {
        &__text {
            left: 20px;
            top: 20px;
            &_channel {
                font-size: 25px;
            }
        }
    }
    .form {
        &__contact {
            form {
                width: 336px;
                button {
                    width: 336px;
                }
                input {
                    width: 336px;
                }
                textarea {
                    width: 336px;
                }
            }
        }
    }
    .lastVideos {
        .active {
            width: 280px;
        }
        &__slider {
            .chevron_left {
                top: 65px;
            }
            .right {
                top: 65px;
            }
        }
        .title {
            font-size: 18px;
        }
        .date {
            font-size: 12px;
            padding-top: 10px;
        }
        &_inner {
            margin-top: 25px;
        }
    }
    .form {
        &__contact {
            form {
                width: 280px;
                margin: 80px 0;
                input {
                    width: 280px;
                }
                textarea {
                    width: 280px;
                }
                button {
                    width: 280px;
                }
            }
            &_title {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 320px) {
    .hero {
        &__title {
            font-size: 30px;
        }
        &__chevron {
            display: none;
        }
    }
    .works {
        &__title {
            width: 132px;
            padding: 15px 0 0;
            font-size: 25px;
        }
        &__sections {
            width: 260px;
            font-size: 14px;
        }
        &__content {
            grid-template-columns: repeat(1,1fr);
        }
        &__wrapper {
            padding: 28px 30px 0 30px;
            .more_link {
                padding: 20px 0 30px;
                width: 96px;
                a {
                    font-size: 17px;
                }
            }
        }
    }
    .about {
        &__title {
            font-size: 25px;
        }
        &__pictures_solo {
            img {
                width: 280px;
            }
        }
        &__text {
            width: 280px;
        }
    }
    .lastVideos {
        height: 390px;
        &__title {
            width: 151px;
            padding-top: 25px;
            font-size: 25px;
        }
        &__slider {
            .chevron_left {
                top: 50px;
                left: 10px;
            }
            .chevron_right {
                top: 50px;
                right: 10px;
            }
        }
        .active {
            height: 265px;
        }
    }
}
