@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    }

@import 'base/variables';
@import 'base/mixins';

* {
    position: relative;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import 'blocks/menu';
@import 'blocks/hero';
@import 'blocks/titles';
@import 'blocks/works';
@import 'blocks/about';
@import 'blocks/youtube';
@import 'blocks/slider';
@import 'blocks/form';
@import 'blocks/footer';