.about {
    height: 1130px;
    background-color: #FAFAFA;
    display: flex;
    &__wrapper {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 890px;
        background-color: #FFFFFF;
    }
    &__text {
        width: 550px;
        text-align: left;
        margin-left: 280px;
        &_title {
            padding-top: 221px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 40px;
            line-height: 60px;
            text-transform: uppercase;
            color: #000000;
        }
        &_subtitle {
            padding-top: 40px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #000000;
        }
    }
    &__pictures {
        position: relative;
        &_first {
            z-index: 2;
            top: 109px;
            right: 386px;
            position: absolute;
            width: 350px;
            img {
                width: 100%;
            }
        }
        &_second {
            z-index: 1;
            position: absolute;
            top: 287px;
            right: 131px;
            width: 310px;
            img {
                width: 100%;
            }
        }
    }
}