footer {
    height: 175px;
    .footer__title {
        width: 156px;
        margin: 0 auto;
        padding-top: 52px;
        font-family: 'Futura PT';
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #000000;
    }
    .footer__links {
        margin: 0 auto;
        padding-top: 11px;
        width: 156px;
        display: flex;
        justify-content: space-between;
        
    }
}