.hero {
    position: relative;
    height: 100%;
    video {
        width: 100%;
        object-fit: cover;
    }
    &__wrapper {
        position: absolute;
        top: 65%;
        right: 50%;
        transform: translateX(50%);
        width: 650px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 96px;
        line-height: 96px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &__subtitle {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
    }
    &__chevron {
        position: absolute;
        bottom: 40px;
        right: 50%;
        transform: translateX(50%);
        button {
            display: block;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
        }
    }
}