.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding-top: 31px;
    &__list {
        width: 402px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    }
    &__link {
        font-family: 'Futura PT';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.05em;
        a {
            color: #FFFFFF;
        }
    }
    .hamburger {
        display: none;
    }
}