.lastVideos {
    height: 880px;
    background-color: #FFFFFF;
    &__title {
        width: 220px;
        padding-top: 120px;
        margin: 0 auto;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        line-height: 32px;
        color: #000000;
        text-transform: uppercase;
    }
    &__slider {
        height: 570px;
        &_wrapper {
            overflow: hidden;
        }
        &_inner {
            position: relative;
            margin-top: 60px;
            padding: 0 130px;
            display: flex;
            justify-content: space-between;
        }
        &_item {
            width: 420px;
            height: 388px;
            margin-top: 28px;
            img {
                width: 100%;
            }
            :hover {
                transform: scale(101%);
                transition: 0.5s all;
            }
        }
        .prev, .next {
            position: absolute;
            top: 30%;
            left: -50px;
            border: none;
            background-color: #fff;
            img {
                width: 30px;
                height: 50px;
            }
        }
        .next {
            left: auto;
            right: -50px;
        }
        .active {
            width: 600px;
            height: 490px;
            margin-top: 0;
        } 
        .title {
            padding-top: 56px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }
        .date {
            padding-top: 24px;
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
        }
        button {
            display: block;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
        }
        .chevron_left {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 104px;
            top: 33%;
        }
        .chevron_right {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 104px;
            top: 33%;
        }
    }
    &__dots {
        display: flex;
        justify-content: space-between;
        width: 90px;
        margin: 0 auto;
    }
    &__dot {
        display: block;
        height: 10px;
        width: 10px;
        background-color: #D9D9D9;
        border-radius: 50%;
        padding-right: 10px;
        transition: 0.5s all;
        &_active {
            width: 26px;
            border-radius: 6px;
            background-color: #B5B5B5;
        }
    }
}