.lastVideos {
    min-height: 755px;
    background-color: #FFFFFF;
    &__title {
        width: 220px;
        padding-top: 120px;
        margin: 0 auto;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        line-height: 32px;
        color: #000000;
        text-transform: uppercase;
    }
    &__slider {
        position: relative;
        margin-top: 60px;
        padding: 0 130px;
        display: flex;
        justify-content: space-between;
        &_item {
            width: 420px;
            height: 388px;
            margin-top: 28px;
            img {
                width: 100%;
            }

        }
        .prev, .next {
            position: absolute;
            top: 30%;
            left: -50px;
            border: none;
            background-color: #fff;
            img {
                width: 30px;
                height: 50px;
            }
        }
        .next {
            left: auto;
            right: -50px;
        }
        .active {
            width: 600px;
            height: 490px;
            margin-top: 0;
        } 
        .title {
            padding-top: 56px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            text-align: center;
            color: #000000;
        }
        .date {
            padding-top: 24px;
            font-family: 'Poppins';
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
        }
        button {
            display: block;
            border: none;
            font: inherit;
            color: inherit;
            background-color: transparent;
        }
        .chevron_left {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 104px;
            top: 26%;
        }
        .chevron_right {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 104px;
            top: 26%;
        }
    }
    &__dots {
        width: 90px;
        margin: 0 auto;
        padding: 66px 0 115px;
        .active {

        }
    }
}