.futura_fz_14 {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.futura_fz_32 {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}