.futura_fz_14 {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.futura_fz_32 {
    font-family: 'Futura PT';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
}

.poppins_fz_64 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    text-transform: uppercase;
    color: #000000;
}

.poppins_fz_16 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-transform: uppercase;
    color: #000000;
}
