.works {
    min-height: 400px;
    &__title {
        width: 338px;
        padding-top: 100px;
        margin: 0 auto;
    } 
    &__sections {
        width: 432px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        margin: 0 auto;
        a {
            color: #000000;
        }
    }
    &__section {
        cursor:pointer;
        &_active {
            text-decoration-line: underline;
        }
    }
    &__wrapper {
        padding: 40px 150px 0 150px;
        .more_link {
            width: 113px;
            padding: 0 0 58px;
            margin: 0 auto;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-decoration-line: underline;
            color: #000000;
            cursor:pointer;
        }
        .show {
            display: grid;
        }
        .hide {
            display: none;
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
            @keyframes fade {
                from {opacity: 0.5;}
                to {opacity: 1;}
            }
        }
    }
    &__content {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 32px;
        display: grid;
        padding-bottom: 58px;
        &_item {
            img {
                width: 100%;
            }
            :hover {
                transform: scale(101%);
                transition: 0.5s all;
            }
        }
    }
}
