.works {
    min-height: 400px;
    &__title {
        width: 158px;
        padding-top: 32px;
        margin: 0 auto;
    } 
    &__sections {
        width: 410px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-between;
        padding-top: 24px;
        margin: 0 auto;
        a {
            color: #000000;
        }
    }
    &__section {
        cursor:pointer;
        &_active {
            text-decoration-line: underline;
        }
    }
    &__wrapper {
        padding: 40px 150px 0 150px;
        .more_link {
            width: 113px;
            padding: 58px 0 58px;
            margin: 0 auto;
            a {
                font-family: 'Poppins';
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                text-decoration-line: underline;
                color: #000000;
            }
        }
        .show {
            display: grid;
        }
        .hide {
            display: none;
        }
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
            @keyframes fade {
                from {opacity: 0.5;}
                to {opacity: 1;}
            }
        }
    }
    &__content {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 38px;
        &_item {
            img {
                width: 100%;
            }
        }
    }
    .show {
        display: grid;
    }
    .hide {
        display: none;
    }
}
